[submodule "components/esp32-camera"]
	path = components/esp32-camera
	url = https://github.com/espressif/esp32-camera.git
[submodule "components/esp-nn"]
	path = components/esp-nn
	url = https://github.com/espressif/esp-nn.git
